numpy
torch==1.9.0
spacy==2.1.3
transformers==4.9.1
sentencepiece==0.1.96
tqdm
neuralcoref==4.0
argparse
scikit-learn
pytest
sentence-transformers==2.1.0
https://github.com/trungtv/vi_spacy/raw/master/packages/vi_spacy_model-0.2.1/dist/vi_spacy_model-0.2.1.tar.gz