numpy==1.17
torch==1.6.0
spacy==2.1.4
transformers
sentencepiece==0.1.95
Cython==0.29.10
tqdm==4.32.2
neuralcoref==4.0
argparse
scikit-learn
bert-extractive-summarizer
Flask
flask-cors
nltk
https://github.com/trungtv/vi_spacy/raw/master/packages/vi_spacy_model-0.2.1/dist/vi_spacy_model-0.2.1.tar.gz
